.contact {
  margin-left: auto;
}

.contact__list {
  @extend %list;
  @include centeredFlex();
}


.contact__item {
  margin-right: 50px;

  &:last-child {
    margin-right: 0;
  }
}

.contact__link {
  @extend %link;

  padding-top: 32px;
  padding-bottom: 32px;


  color: $main-text-color;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color $animation;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.icon-mail,
.icon-phone {
  margin-right: 10px;
  fill: currentColor;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}