.logo {
  display: block;

  color: $title-text-color;
  font-family: $secondary-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo__part {
  color: $accent-color;
}

.footer__logo {
  margin-bottom: 20px;
  margin-right: 0;

  color: $main-color;
}
