.modal-form {
  display: flex;
  flex-direction: column;
}

.form-item {
  position: relative;

  margin-bottom: 10px;
}

.comment-item {
  margin-bottom: 20px;
}

.modal-label {
  display: flex;
  flex-direction: column;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  &:focus,
  &:hover {
    border-color: $accent-color;
    fill: $accent-color;
  }
}

.modal-input {
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 42px;
  margin-top: 4px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color $animation;

  &:hover,
  &:focus {
    border-color: $accent-color;

    &:hover + .modal-icon,
    &:focus .modal-icon {
      fill: $accent-color;
    }
  }
}

.modal-comment {
  margin-top: 4px;
  padding: 12px 16px;

  min-height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;

  transition: border-color $animation;

  &:hover,
  &:focus {
    border-color: $accent-color;
  }
}

.modal-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;

  transition: fill $animation;
}

.checkbox {
  margin-bottom: $margin-indent;
}

.checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.checkbox-input {
  padding: 0;
  margin: -1px;
  border: 0;
  width: 1px;
  height: 1px;

  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);

  &:checked + .checkbox-icon {
    background-image: url(../images/check.svg);
    background-color: $accent-color;
    border-color: transparent;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: border-box;
  }
}

.checkbox-icon {
  margin-right: 8px;

  border: 2px solid $title-text-color;
  border-radius: 2px;
  width: 16px;
  height: 15px;

  transition: box-shadow $animation;
}

.checkbox-input:focus + .checkbox-icon {
  box-shadow: 0 0 0 2px $accent-color;
  border-radius: 2px;
  width: 16px;
  height: 15px;
}

.modal-link {
  color: $accent-color;
}

.modal-button {
  display: flex;
  justify-content: center;
}

.button-send {
  padding: 10px 52px;
  min-width: 200px;
  background: $accent-color;
  border-radius: 4px;
  border-width: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: $main-color;

  transition: background-color $animation;

  &:hover,
  &:focus {
    background: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
